@media(max-width:64em){
    .locationList{
        max-height: 50vh;
        width: 94vw;
        overflow:auto;
    }
}
.forecast-title{
    color:white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    
}